@font-face {
    font-family: Outfit;
    src: url(fonts/Outfit/Outfit-VariableFont_wght.ttf);
}
body {
    background-color: hsl(216, 45%, 89%);
}

main {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#component {
    width: 300px;
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    font-family: Outfit;
}

#component img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

#component > div {
    padding: 0 10px;
}

#component h2 {
    color: hsl(218, 44%, 22%);
}

#component p {
    color: hsl(216, 15%, 48%);
    font-size: 16px;
}

@media SCREEN and (max-width: 375px) {
   
    #component {
        width: 280px;
        background-color: white;
        padding: 15px;  
        text-align: center;
        border-radius: 5%;
        font-family: Outfit;
    }

    #component > div {
        padding: 0 10px 0 10px;
    }

    #component h2 {
        font-size: 22px;
    }

    #component p {
        font-size: 15px;
    }
   }